In [3]:
#import dependencies
import pandas as pd
import numpy as np
import requests
import json
import random
import matplotlib.pyplot as plt

In [4]:
#path to CSV file
csv_path="2015_census_tract_data.csv"

#read CSV file
Census_file=pd.read_csv(csv_path)

In [5]:
#check to see if there are rows with missing data
Census_file.count()

CensusTract        74001
State              74001
County             74001
TotalPop           74001
Men                74001
Women              74001
Hispanic           73311
White              73311
Black              73311
Native             73311
Asian              73311
Pacific            73311
Citizen            74001
Income             72901
IncomeErr          72901
IncomePerCap       73261
IncomePerCapErr    73261
Poverty            73166
ChildPoverty       72883
Professional       73194
Service            73194
Office             73194
Construction       73194
Production         73194
Drive              73204
Carpool            73204
Transit            73204
Walk               73204
OtherTransp        73204
WorkAtHome         73204
MeanCommute        73052
Employed           74001
PrivateWork        73194
PublicWork         73194
SelfEmployed       73194
FamilyWork         73194
Unemployment       73199
dtype: int64

In [6]:
#remove rows with missing data
clean_census_file=Census_file.dropna(how="any")
clean_census_file.count()

CensusTract        72727
State              72727
County             72727
TotalPop           72727
Men                72727
Women              72727
Hispanic           72727
White              72727
Black              72727
Native             72727
Asian              72727
Pacific            72727
Citizen            72727
Income             72727
IncomeErr          72727
IncomePerCap       72727
IncomePerCapErr    72727
Poverty            72727
ChildPoverty       72727
Professional       72727
Service            72727
Office             72727
Construction       72727
Production         72727
Drive              72727
Carpool            72727
Transit            72727
Walk               72727
OtherTransp        72727
WorkAtHome         72727
MeanCommute        72727
Employed           72727
PrivateWork        72727
PublicWork         72727
SelfEmployed       72727
FamilyWork         72727
Unemployment       72727
dtype: int64

In [7]:
#column names
clean_census_file.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [8]:
#create a dataframe from the file
DF_census_file=pd.DataFrame(clean_census_file)
DF_census_file.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [9]:
grouped_income = DF_census_file.groupby(["State","County"]).apply(lambda x: np.average(x["Income"],weights=x["TotalPop"]))
grouped_income=pd.DataFrame(grouped_income,columns=["Income"])
grouped_income=grouped_income.reset_index()
grouped_income["ID"] = grouped_income["State"]+grouped_income["County"]
grouped_income.head()

     State   County        Income              ID
0  Alabama  Autauga  51696.286576  AlabamaAutauga
1  Alabama  Baldwin  51074.359577  AlabamaBaldwin
2  Alabama  Barbour  32959.300349  AlabamaBarbour
3  Alabama     Bibb  38886.634888     AlabamaBibb
4  Alabama   Blount  46237.969018   AlabamaBlount

In [10]:
#find total number of people per ethnicity
DF_census_file["Hispanic Population"]=(DF_census_file["Hispanic"]/100)*DF_census_file["TotalPop"]
DF_census_file["White Population"]=(DF_census_file["White"]/100)*DF_census_file["TotalPop"]
DF_census_file["Black Population"]=(DF_census_file["Black"]/100)*DF_census_file["TotalPop"]
DF_census_file["Native Population"]=(DF_census_file["Native"]/100)*DF_census_file["TotalPop"]
DF_census_file["Asian Population"]=(DF_census_file["Asian"]/100)*DF_census_file["TotalPop"]
DF_census_file["Pacific Population"]=(DF_census_file["Pacific"]/100)*DF_census_file["TotalPop"]
DF_census_file["Other Population"]=DF_census_file["TotalPop"]-DF_census_file["Pacific Population"]-DF_census_file["Asian Population"]-DF_census_file["Native Population"]-DF_census_file["Hispanic Population"]-DF_census_file["White Population"]-DF_census_file["Black Population"]
DF_census_file["ID"]=DF_census_file["State"]+DF_census_file["County"]

In [11]:
TractCount=DF_census_file.groupby(["State","County"]).count()["CensusTract"]
TractCount=pd.DataFrame(TractCount)
TractCount=TractCount.reset_index()
TractCount.head()

     State   County  CensusTract
0  Alabama  Autauga           12
1  Alabama  Baldwin           31
2  Alabama  Barbour            9
3  Alabama     Bibb            4
4  Alabama   Blount            9

In [12]:
DF_census_file.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,FamilyWork,Unemployment,Hispanic Population,White Population,Black Population,Native Population,Asian Population,Pacific Population,Other Population,ID
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.0,5.4,17.532,1702.552,149.996,5.844,11.688,0.000,60.388,AlabamaAutauga
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,13.3,17.248,871.024,1149.148,0.000,49.588,0.000,68.992,AlabamaAutauga
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,6.2,0.000,2211.160,552.048,14.840,41.552,8.904,139.496,AlabamaAutauga
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,10.8,464.415,3662.244,163.651,70.768,0.000,0.000,61.922,AlabamaAutauga
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,4.2,75.341,7372.655,2669.224,0.000,408.994,0.000,236.786,AlabamaAutauga

In [13]:
Test_census_file=DF_census_file[["State","County","ID","TotalPop","Men","Women","Hispanic Population","White Population","Black Population","Native Population","Asian Population","Other Population"]]
Test_census_file=Test_census_file.groupby(["State","County","ID"],as_index=False).sum()
Test_census_file.head()

,State,County,ID,TotalPop,Men,Women,Hispanic Population,White Population,Black Population,Native Population,Asian Population,Other Population
0,Alabama,Autauga,AlabamaAutauga,55221,26745,28476,1443.611,41851.017,10230.777,232.967,528.826,924.898
1,Alabama,Baldwin,AlabamaBaldwin,195121,95314,99807,8767.268,162150.656,18530.346,1091.640,1296.962,3284.128
2,Alabama,Barbour,AlabamaBarbour,26932,14497,12435,1246.497,12451.093,12574.719,50.670,117.623,491.398
3,Alabama,Bibb,AlabamaBibb,22604,12073,10531,499.358,16839.955,4842.938,97.439,22.741,301.569
4,Alabama,Blount,AlabamaBlount,57710,28512,29198,4983.152,50700.459,877.368,168.037,85.670,895.314

In [14]:
merge_table=pd.merge(Test_census_file,grouped_income,on=["State","County","ID"] ,how="outer")
merge_table.head()

,State,County,ID,TotalPop,Men,Women,Hispanic Population,White Population,Black Population,Native Population,Asian Population,Other Population,Income
0,Alabama,Autauga,AlabamaAutauga,55221,26745,28476,1443.611,41851.017,10230.777,232.967,528.826,924.898,51696.286576
1,Alabama,Baldwin,AlabamaBaldwin,195121,95314,99807,8767.268,162150.656,18530.346,1091.640,1296.962,3284.128,51074.359577
2,Alabama,Barbour,AlabamaBarbour,26932,14497,12435,1246.497,12451.093,12574.719,50.670,117.623,491.398,32959.300349
3,Alabama,Bibb,AlabamaBibb,22604,12073,10531,499.358,16839.955,4842.938,97.439,22.741,301.569,38886.634888
4,Alabama,Blount,AlabamaBlount,57710,28512,29198,4983.152,50700.459,877.368,168.037,85.670,895.314,46237.969018

In [15]:
merge_table=pd.merge(merge_table,TractCount,on=["State","County"],how="outer")
merge_table.head()

,State,County,ID,TotalPop,Men,Women,Hispanic Population,White Population,Black Population,Native Population,Asian Population,Other Population,Income,CensusTract
0,Alabama,Autauga,AlabamaAutauga,55221,26745,28476,1443.611,41851.017,10230.777,232.967,528.826,924.898,51696.286576,12
1,Alabama,Baldwin,AlabamaBaldwin,195121,95314,99807,8767.268,162150.656,18530.346,1091.640,1296.962,3284.128,51074.359577,31
2,Alabama,Barbour,AlabamaBarbour,26932,14497,12435,1246.497,12451.093,12574.719,50.670,117.623,491.398,32959.300349,9
3,Alabama,Bibb,AlabamaBibb,22604,12073,10531,499.358,16839.955,4842.938,97.439,22.741,301.569,38886.634888,4
4,Alabama,Blount,AlabamaBlount,57710,28512,29198,4983.152,50700.459,877.368,168.037,85.670,895.314,46237.969018,9

In [16]:
#Filter
merge_table["Hispanic Population %"]=merge_table["Hispanic Population"]/merge_table["TotalPop"]*100
merge_table["White Population %"]=merge_table["White Population"]/merge_table["TotalPop"]*100
merge_table["Black  Population %"]=merge_table["Black Population"]/merge_table["TotalPop"]*100
merge_table["Asian Population %"]=merge_table["Asian Population"]/merge_table["TotalPop"]*100
merge_table["Other Population %"]=merge_table["Other Population"]/merge_table["TotalPop"]*100
merge_table["Native Population %"]=merge_table["Native Population"]/merge_table["TotalPop"]*100
merge_table["% Men"]=merge_table["Men"]/merge_table["TotalPop"]*100
merge_table["% Women"]=merge_table["Women"]/merge_table["TotalPop"]*100

In [17]:
merge_table.head()

,State,County,ID,TotalPop,Men,Women,Hispanic Population,White Population,Black Population,Native Population,...,Income,CensusTract,Hispanic Population %,White Population %,Black Population %,Asian Population %,Other Population %,Native Population %,% Men,% Women
0,Alabama,Autauga,AlabamaAutauga,55221,26745,28476,1443.611,41851.017,10230.777,232.967,...,51696.286576,12,2.614243,75.788227,18.526968,0.957654,1.674903,0.421881,48.432661,51.567339
1,Alabama,Baldwin,AlabamaBaldwin,195121,95314,99807,8767.268,162150.656,18530.346,1091.640,...,51074.359577,31,4.493247,83.102616,9.496849,0.664696,1.683124,0.559468,48.848663,51.151337
2,Alabama,Barbour,AlabamaBarbour,26932,14497,12435,1246.497,12451.093,12574.719,50.670,...,32959.300349,9,4.628312,46.231594,46.690625,0.436741,1.824588,0.188141,53.828160,46.171840
3,Alabama,Bibb,AlabamaBibb,22604,12073,10531,499.358,16839.955,4842.938,97.439,...,38886.634888,4,2.209158,74.499889,21.425137,0.100606,1.334140,0.431070,53.410901,46.589099
4,Alabama,Blount,AlabamaBlount,57710,28512,29198,4983.152,50700.459,877.368,168.037,...,46237.969018,9,8.634815,87.853854,1.520305,0.148449,1.551402,0.291175,49.405649,50.594351

In [18]:
merged_clean=merge_table[["State","County","TotalPop","Income","CensusTract","White Population %","Hispanic Population %",
                         "Black  Population %","Asian Population %", "Native Population %","Other Population %", "% Men", "% Women"]]

In [19]:
merged_clean.head()

,State,County,TotalPop,Income,CensusTract,White Population %,Hispanic Population %,Black Population %,Asian Population %,Native Population %,Other Population %,% Men,% Women
0,Alabama,Autauga,55221,51696.286576,12,75.788227,2.614243,18.526968,0.957654,0.421881,1.674903,48.432661,51.567339
1,Alabama,Baldwin,195121,51074.359577,31,83.102616,4.493247,9.496849,0.664696,0.559468,1.683124,48.848663,51.151337
2,Alabama,Barbour,26932,32959.300349,9,46.231594,4.628312,46.690625,0.436741,0.188141,1.824588,53.828160,46.171840
3,Alabama,Bibb,22604,38886.634888,4,74.499889,2.209158,21.425137,0.100606,0.431070,1.334140,53.410901,46.589099
4,Alabama,Blount,57710,46237.969018,9,87.853854,8.634815,1.520305,0.148449,0.291175,1.551402,49.405649,50.594351

In [20]:
#create datasets
#exclude puerto rico
America_County=merged_clean[(merged_clean["State"]!="Puerto Rico")]
#Poor County are counties with incomes less than $25,000
Poor_County=America_County.query("Income<25000")
#Rich County are counties with income more than $75,000
Rich_County=America_County.query("Income>75000")
#Diverse County are counties with no ethnic group making up more than 45% of the population
Diverse_County=America_County[(America_County["White Population %"]<45)& (America_County["Native Population %"]<45)&(America_County["Hispanic Population %"]<45)& (America_County["Black  Population %"]<45)] 
#NonDiverse County are counties where one ethnic group makes up more than 85% of the population with a population greater than 400,000
NonDiverse_County=America_County[(America_County["TotalPop"]>400000)&((America_County["White Population %"]>85)| (America_County["Native Population %"]>85)|(America_County["Hispanic Population %"]>85)| (America_County["Black  Population %"]>85))]

In [21]:
Poor_County.head()

,State,County,TotalPop,Income,CensusTract,White Population %,Hispanic Population %,Black Population %,Asian Population %,Native Population %,Other Population %,% Men,% Women
17,Alabama,Conecuh,12865,24856.284104,5,50.968916,1.649988,44.681360,0.040365,0.283366,2.376005e+00,48.006218,51.993782
31,Alabama,Greene,8697,20598.498793,3,17.768748,0.715247,80.636185,0.177946,0.079062,6.228125e-01,47.085202,52.914798
52,Alabama,Perry,10038,24035.630305,3,29.987119,0.916956,68.001524,0.450887,0.053626,5.898884e-01,46.333931,53.666069
59,Alabama,Sumter,13341,19387.044449,4,24.822487,0.411933,72.380526,1.697841,0.397354,2.898583e-01,44.262049,55.737951
65,Alabama,Wilcox,11235,24888.263818,4,27.343186,0.593885,72.035514,0.000000,0.027414,3.035697e-15,47.850467,52.149533

In [22]:
#creating CSV Files
Diverse_County.to_csv("Diverse_County.csv")
NonDiverse_County.to_csv("NonDiverse_County.csv")
Poor_County.to_csv("Poor_County.csv")
Rich_County.to_csv("Rich_County.csv")

#APPLYING YELP API

In [90]:

import requests
import pprint
import json
from urllib.parse import quote

api_key="HTxE_2fiZiukf88_6zgw-998n3g0Hp2VCZVttuzh8PYAVGYnMqjyF-20vFikX40klyhOv4-s98YvoQNi0WoNSqRkLhKzc6Go8PCNpheK3map5VsYo69Sl5haqpaoWnYx"

API_HOST = 'https://api.yelp.com'
SEARCH_PATH = '/v3/businesses/search'
BUSINESS_PATH = '/v3/businesses/'  # Business ID will come after slash.

Default_Term="restaurant"
Limit_Count=3

In [24]:
#define function to pull information from yelp
def request(host, path, api_key, url_params=None):
    """Given your API_KEY, send a GET request to the API.
    Args:
        host (str): The domain host of the API.
        path (str): The path of the API after the domain.
        API_KEY (str): Your API Key.
        url_params (dict): An optional set of query parameters in the request.
    Returns:
        dict: The JSON response from the request.
    Raises:
        HTTPError: An error occurs from the HTTP request.
    """
    url_params = url_params or {}
    url = '{0}{1}'.format(host, quote(path.encode('utf8')))
    headers = {
        'Authorization': 'Bearer %s' % api_key,
    }

    print(u'Querying {0} ...'.format(url))

    response = requests.request('GET', url, headers=headers, params=url_params)
    return response.json()

In [77]:
#function to pull restaurants based by location
def search(api_key,term,location):
#term: the search term (restaurant)
#location: The search location passed to the api
#returns: the json response
    url_params = {
        'term': term.replace(' ', '+'),
        'location': location.replace(' ', '+'),
        'limit': Limit_Count,
        'sort_by': 'rating'
      }
    return request(API_HOST,SEARCH_PATH,api_key,url_params=url_params)

In [190]:
#create lists to store yelp information
Restaurant_Name=[]
Restaurant_City=[]
Restaurant_State=[]
Restaurant_zip=[]
Restaurant_price_cat=[]
Restaurant_rating=[]
Restaurant_type=[]
Restaurant_County=[]
Restaurant_ReviewCount=[]

In [158]:
Restaurant_Name

[]

In [192]:
#looping through dataset

for index,row in Poor_County.iterrows():
    #print(f"{row['County']}, {row['State']}")
    datatest=search(api_key,"Restaurant",f"{row['County']}, {row['State']}")
    #print(datatest)
    for i in range(Limit_Count):
        #Append Restaurant Name
        try:
            Restaurant_Name.append(datatest["businesses"][i]["name"])
        except len(datatest["businesses"][i]["name"])==0:
            Restaurant_Name.append(0)
        
        #Append Restaurant Zip code
        try:  
            Restaurant_zip.append(datatest["businesses"][i]["location"]["zip_code"])
        except len(Restaurant_zip.append(datatest["businesses"][i]["location"]["zip_code"]))==0:
            Restaurant_zip.append('')  
        
        #appent Restaurant City code
        try:
            Restaurant_City.append(datatest["businesses"][i]["location"]["city"])
        except len(Restaurant_City.append(datatest["businesses"][i]["location"]["city"]))==0:
            Restaurant_City.append('')
        
        #append county
        try:
            Restaurant_County.append(row['County'])
        except:
            Restaurant_County.append(row['County'])
        
        #Append State
        try:
            Restaurant_State.append(datatest["businesses"][i]["location"]["state"])
        except len(Restaurant_State.append(datatest["businesses"][i]["location"]["state"]))==0:
            Restaurant_State.append(row['State'])
        
        #Append Restaurant Rating
        try:
            Restaurant_rating.append(datatest["businesses"][i]["rating"])  
        except len(Restaurant_rating.append(datatest["businesses"][i]["rating"]))==0:
            Restaurant_rating.append('')
        
        #Append Restaurant Type
        try: 
            Restaurant_type.append(datatest["businesses"][i]["categories"][0]["title"])
        except:
            Restaurant_type.append('')
        
        #Append Restaurant Review Count
        try:
            Restaurant_ReviewCount.append(datatest["businesses"][i]["review_count"])
        except:
            Restaurant_ReviewCount.append(0)
        
        #append Restaurant Price
        
        try:
            Restaurant_price_cat.append(datatest["businesses"][i]["price"])
        except KeyError:
            Restaurant_price_cat.append('')
        except len(Restaurant_price_cat.append(datatest["businesses"][i]["price"]))== 0:
            Restaurant_price_cat.append('')
       
                        
#         Restaurant_City.append(datatest["businesses"][i]["location"]["city"])x
#         Restaurant_County.append(row['County'])x
#         Restaurant_State.append(datatest["businesses"][i]["location"]["state"])x
#         Restaurant_zip.append(datatest["businesses"][i]["location"]["zip_code"])x
#         #Restaurant_price_cat.append(datatest["businesses"][i]["price"])
#         Restaurant_rating.append(datatest["businesses"][i]["rating"])x
#         Restaurant_type.append(datatest["businesses"][i]["categories"][0]["title"])x
#         Restaurant_ReviewCount.append(datatest["businesses"][i]["review_count"])x
#         except 
    
  
    
    
    
    
    
    
    
    
#     Yelp_df["Restaurant Name"]=datatest["businesses"][i]["name"]
#         Yelp_df["Restaurant City"]=datatest["businesses"][i]["location"]["city"]
#         Yelp_df[]
        
        
        
        
#         Restaurant_Name.append(datatest["businesses"][i]["name"])
#         Restaurant_City.append(datatest["businesses"][i]["location"]["city"])
#         Restaurant_County.append(row['County'])
#         Restaurant_State.append(datatest["businesses"][i]["location"]["state"])
#         Restaurant_zip.append(datatest["businesses"][i]["location"]["zip_code"])
#         #Restaurant_price_cat.append(datatest["businesses"][i]["price"])
#         Restaurant_rating.append(datatest["businesses"][i]["rating"])
#         Restaurant_type.append(datatest["businesses"][i]["categories"][0]["title"])
#         Restaurant_ReviewCount.append(datatest["businesses"][i]["review_count"])


    
    
#     Yelp_df.set_value(index,"State",data["businesses"][9]["location"]["state"])
#     Yelp_df.set_value(index,"State",data["businesses"][9]["location"]["state"])
    
# print(data["businesses"][9]["location"]["city"])
# print(data["businesses"][9]["location"]["state"])
# print(data["businesses"][9]["location"]["zip_code"])
# print(data["businesses"][9]["price"])
# print(data["businesses"][9]["review_count"])
# print(data["businesses"][9]["rating"])
# print(data["businesses"][9]["categories"][0]["title"])

Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'the-shack-evergreen', 'name': 'The Shack', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/E8B_1-TkfivWX9IRssXNjw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-shack-evergreen?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 30, 'categories': [{'alias': 'southern', 'title': 'Southern'}, {'alias': 'seafood', 'title': 'Seafood'}, {'alias': 'burgers', 'title': 'Burgers'}], 'rating': 5.0, 'coordinates': {'latitude': 31.4595007472441, 'longitude': -86.9695268940034}, 'transactions': [], 'price': '$', 'location': {'address1': '281 Hwy 83', 'address2': '', 'address3': '', 'city': 'Evergreen', 'zip_code': '36401', 'country': 'US', 'state': 'AL', 'display_address': ['281 Hwy 83', 'Evergreen, AL 36401']}, 'phone': '+12515780046', 'display_phone': '(251) 578-0046', 'distance': 7158.932036805807}, {'id': 'shrimp-basket-evergreen', 'name': 'Shrimp Basket', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/P0wQ-YLfPGOYxD1mAB3GCw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/shrimp-basket-evergreen?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 54, 'categories': [{'alias': 'seafood', 'title': 'Seafood'}], 'rating': 3.5, 'coordinates': {'latitude': 31.446702, 'longitude': -86.9545847}, 'transactions': [], 'price': '$$', 'location': {'address1': '64 Liberty Hill Pl', 'address2': '', 'address3': '', 'city': 'Evergreen', 'zip_code': '36401', 'country': 'US', 'state': 'AL', 'display_address': ['64 Liberty Hill Pl', 'Evergreen, AL 36401']}, 'phone': '+12512163223', 'display_phone': '(251) 216-3223', 'distance': 8797.42011561862}, {'id': 'big-ds-butts-n-stuff-monroeville', 'name': "Big D's Butts 'N Stuff", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/tOYTcTg28aVjx3w4AXf-8A/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/big-ds-butts-n-stuff-monroeville?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 7, 'categories': [{'alias': 'bbq', 'title': 'Barbeque'}], 'rating': 4.5, 'coordinates': {'latitude': 31.470248401165, 'longitude': -87.3439706861973}, 'transactions': [], 'price': '$', 'location': {'address1': '4439 S Alabama Ave', 'address2': '', 'address3': '', 'city': 'Monroeville', 'zip_code': '36460', 'country': 'US', 'state': 'AL', 'display_address': ['4439 S Alabama Ave', 'Monroeville, AL 36460']}, 'phone': '+12517434227', 'display_phone': '(251) 743-4227', 'distance': 28446.901278132376}], 'total': 44, 'region': {'center': {'longitude': -87.0446777344, 'latitude': 31.4654942408}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'nicks-original-filet-house-tuscaloosa', 'name': "Nick's Original Filet House", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/4R35mh5VJv-_Na93wB6gWA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/nicks-original-filet-house-tuscaloosa?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 63, 'categories': [{'alias': 'steak', 'title': 'Steakhouses'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.5, 'coordinates': {'latitude': 33.1777038574219, 'longitude': -87.6140899658203}, 'transactions': [], 'price': '$$', 'location': {'address1': '4018 Culver Rd', 'address2': '', 'address3': '', 'city': 'Tuscaloosa', 'zip_code': '35401', 'country': 'US', 'state': 'AL', 'display_address': ['4018 Culver Rd', 'Tuscaloosa, AL 35401']}, 'phone': '+12057589316', 'display_phone': '(205) 758-9316', 'distance': 49711.43223122872}, {'id': 'taste-of-india-livingston', 'name': 'Taste of India', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/ymipg1BokAqMpqHFBxWT_w/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/taste-of-india-livingston?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 37, 'categories': [{'alias': 'indpak', 'title': 'Indian'}], 'rating': 4.5, 'coordinates': {'latitude': 32.6230090587534, 'longitude': -88.2070376637386}, 'transactions': [], 'price': '$$', 'location': {'address1': '651 Hwy 28 W', 'address2': 'Ste B', 'address3': '', 'city': 'Livingston', 'zip_code': '35470', 'country': 'US', 'state': 'AL', 'display_address': ['651 Hwy 28 W', 'Ste B', 'Livingston, AL 35470']}, 'phone': '+12056522080', 'display_phone': '(205) 652-2080', 'distance': 33242.84839622988}, {'id': 'larkins-restaurant-and-deli-york', 'name': "Larkin's Restaurant & Deli", 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/NyGB3uNJxXqQN1_k3FF3Sw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/larkins-restaurant-and-deli-york?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 19, 'categories': [{'alias': 'delis', 'title': 'Delis'}], 'rating': 5.0, 'coordinates': {'latitude': 32.4921402259736, 'longitude': -88.2887340003067}, 'transactions': [], 'price': '$', 'location': {'address1': '1104 4th Ave', 'address2': '', 'address3': '', 'city': 'York', 'zip_code': '36925', 'country': 'US', 'state': 'AL', 'display_address': ['1104 4th Ave', 'York, AL 36925']}, 'phone': '+12053929988', 'display_phone': '(205) 392-9988', 'distance': 49204.40463182254}], 'total': 92, 'region': {'center': {'longitude': -87.9565429688, 'latitude': 32.8350758067}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'lannies-bar-b-q-spot-selma', 'name': "Lannie's Bar-B-Q Spot", 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/xh_9SZja0VR0BTJrIJcrbQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/lannies-bar-b-q-spot-selma?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 34, 'categories': [{'alias': 'bbq', 'title': 'Barbeque'}], 'rating': 4.5, 'coordinates': {'latitude': 32.4186935424805, 'longitude': -87.0103454589844}, 'transactions': [], 'price': '$', 'location': {'address1': '2115 Minter Ave', 'address2': '', 'address3': '', 'city': 'Selma', 'zip_code': '36703', 'country': 'US', 'state': 'AL', 'display_address': ['2115 Minter Ave', 'Selma, AL 36703']}, 'phone': '+13348744478', 'display_phone': '(334) 874-4478', 'distance': 31102.075598935935}, {'id': 'side-porch-sandwichs-and-pub-selma', 'name': 'Side Porch Sandwichs and Pub', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/ubwn0wG8WZEXoUDsDpJy7g/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/side-porch-sandwichs-and-pub-selma?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 11, 'categories': [{'alias': 'sandwiches', 'title': 'Sandwiches'}, {'alias': 'pubs', 'title': 'Pubs'}, {'alias': 'seafood', 'title': 'Seafood'}], 'rating': 4.5, 'coordinates': {'latitude': 32.4065299, 'longitude': -87.01814}, 'transactions': [], 'price': '$', 'location': {'address1': '1124 Water Ave', 'address2': '', 'address3': '', 'city': 'Selma', 'zip_code': '36703', 'country': 'US', 'state': 'AL', 'display_address': ['1124 Water Ave', 'Selma, AL 36703']}, 'phone': '+13348728600', 'display_phone': '(334) 872-8600', 'distance': 31412.372136147325}, {'id': 'the-coffee-shoppe-selma', 'name': 'The Coffee Shoppe', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/Nhe2SEY_RMwnkz080U-XBg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-coffee-shoppe-selma?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 11, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}], 'rating': 4.5, 'coordinates': {'latitude': 32.41075, 'longitude': -87.0212}, 'transactions': [], 'price': '$', 'location': {'address1': '308 Broad St', 'address2': '', 'address3': '', 'city': 'Selma', 'zip_code': '36701', 'country': 'US', 'state': 'AL', 'display_address': ['308 Broad St', 'Selma, AL 36701']}, 'phone': '', 'display_phone': '', 'distance': 30880.44629903697}], 'total': 62, 'region': {'center': {'longitude': -87.272644043, 'latitude': 32.590119709}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'taste-of-india-livingston', 'name': 'Taste of India', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/ymipg1BokAqMpqHFBxWT_w/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/taste-of-india-livingston?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 37, 'categories': [{'alias': 'indpak', 'title': 'Indian'}], 'rating': 4.5, 'coordinates': {'latitude': 32.6230090587534, 'longitude': -88.2070376637386}, 'transactions': [], 'price': '$$', 'location': {'address1': '651 Hwy 28 W', 'address2': 'Ste B', 'address3': '', 'city': 'Livingston', 'zip_code': '35470', 'country': 'US', 'state': 'AL', 'display_address': ['651 Hwy 28 W', 'Ste B', 'Livingston, AL 35470']}, 'phone': '+12056522080', 'display_phone': '(205) 652-2080', 'distance': 7624.294460105957}, {'id': 'larkins-restaurant-and-deli-york', 'name': "Larkin's Restaurant & Deli", 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/NyGB3uNJxXqQN1_k3FF3Sw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/larkins-restaurant-and-deli-york?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 19, 'categories': [{'alias': 'delis', 'title': 'Delis'}], 'rating': 5.0, 'coordinates': {'latitude': 32.4921402259736, 'longitude': -88.2887340003067}, 'transactions': [], 'price': '$', 'location': {'address1': '1104 4th Ave', 'address2': '', 'address3': '', 'city': 'York', 'zip_code': '36925', 'country': 'US', 'state': 'AL', 'display_address': ['1104 4th Ave', 'York, AL 36925']}, 'phone': '+12053929988', 'display_phone': '(205) 392-9988', 'distance': 22890.333123701304}, {'id': 'smokin-jacks-bar-b-que-demopolis', 'name': "Smokin' Jack's Bar B Que", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/8SMQGFBk9nmZm4Fr43QgtQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/smokin-jacks-bar-b-que-demopolis?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 15, 'categories': [{'alias': 'bbq', 'title': 'Barbeque'}], 'rating': 3.5, 'coordinates': {'latitude': 32.495530356041, 'longitude': -87.8504966034137}, 'transactions': [], 'price': '$$', 'location': {'address1': '1023 US Highway 80 W', 'address2': None, 'address3': None, 'city': 'Demopolis', 'zip_code': '36732', 'country': 'US', 'state': 'AL', 'display_address': ['1023 US Highway 80 W', 'Demopolis, AL 36732']}, 'phone': '+13342870675', 'display_phone': '(334) 287-0675', 'distance': 31519.01599770018}], 'total': 55, 'region': {'center': {'longitude': -88.1323242188, 'latitude': 32.6502655178}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'hancocks-country-bar-b-que-selma', 'name': "Hancock's Country Bar-B-Que", 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/FtoSFXxxmyS4nOATXzUKgg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/hancocks-country-bar-b-que-selma?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 8, 'categories': [{'alias': 'bbq', 'title': 'Barbeque'}, {'alias': 'burgers', 'title': 'Burgers'}], 'rating': 4.0, 'coordinates': {'latitude': 32.3836223781109, 'longitude': -87.0874173939228}, 'transactions': [], 'price': '$', 'location': {'address1': '72 County Rd 46', 'address2': '', 'address3': '', 'city': 'Selma', 'zip_code': '36701', 'country': 'US', 'state': 'AL', 'display_address': ['72 County Rd 46', 'Selma, AL 36701']}, 'phone': '+13348725541', 'display_phone': '(334) 872-5541', 'distance': 40463.26609654578}, {'id': 'ms-kittys-camden', 'name': "Ms Kitty's", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/8TjSM_Y-8iLPrE5LJFuUTg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/ms-kittys-camden?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 5, 'categories': [{'alias': 'newamerican', 'title': 'American (New)'}], 'rating': 4.5, 'coordinates': {'latitude': 31.9990741292869, 'longitude': -87.2693968936801}, 'transactions': [], 'price': '$', 'location': {'address1': '474 Alabama', 'address2': '', 'address3': '', 'city': 'Camden', 'zip_code': '36726', 'country': 'US', 'state': 'AL', 'display_address': ['474 Alabama', 'Camden, AL 36726']}, 'phone': '', 'display_phone': '', 'distance': 5378.238878355268}, {'id': 'jacksons-fried-chicken-camden', 'name': "Jackson's Fried Chicken", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/mWGOTTwN0kFUfU_H9SYyQw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/jacksons-fried-chicken-camden?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 2, 'categories': [{'alias': 'chickenshop', 'title': 'Chicken Shop'}], 'rating': 4.5, 'coordinates': {'latitude': 31.9890049, 'longitude': -87.2929813}, 'transactions': [], 'location': {'address1': '231 Claiborne St', 'address2': None, 'address3': None, 'city': 'Camden', 'zip_code': '36726', 'country': 'US', 'state': 'AL', 'display_address': ['231 Claiborne St', 'Camden, AL 36726']}, 'phone': '+13346829089', 'display_phone': '(334) 682-9089', 'distance': 7288.659122088968}], 'total': 15, 'region': {'center': {'longitude': -87.2616577148, 'latitude': 32.046994712}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'seasons-bluffton', 'name': 'Seasons', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/gER5AsIrwJFlMEZe7IfL4Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/seasons-bluffton?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 4, 'categories': [{'alias': 'diners', 'title': 'Diners'}, {'alias': 'newamerican', 'title': 'American (New)'}], 'rating': 5.0, 'coordinates': {'latitude': 31.5229496, 'longitude': -84.8677008}, 'transactions': [], 'price': '$$', 'location': {'address1': 'White Oak Pastures', 'address2': '', 'address3': '', 'city': 'Bluffton', 'zip_code': '39824', 'country': 'US', 'state': 'GA', 'display_address': ['White Oak Pastures', 'Bluffton, GA 39824']}, 'phone': '+14107140014', 'display_phone': '(410) 714-0014', 'distance': 15617.828984133976}, {'id': 'huddle-house-cuthbert', 'name': 'Huddle House', 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/huddle-house-cuthbert?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 2, 'categories': [{'alias': 'newamerican', 'title': 'American (New)'}], 'rating': 4.0, 'coordinates': {'latitude': 31.769754588604, 'longitude': -84.7701188921928}, 'transactions': [], 'location': {'address1': '152 US Hwy 82 E', 'address2': '', 'address3': '', 'city': 'Cuthbert', 'zip_code': '39840', 'country': 'US', 'state': 'GA', 'display_address': ['152 US Hwy 82 E', 'Cuthbert, GA 39840']}, 'phone': '+12297323037', 'display_phone': '(229) 732-3037', 'distance': 25801.552640915965}, {'id': 'carters-fried-chicken-cuthbert', 'name': 'Carters Fried Chicken', 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/carters-fried-chicken-cuthbert?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 2, 'categories': [{'alias': 'chicken_wings', 'title': 'Chicken Wings'}], 'rating': 3.0, 'coordinates': {'latitude': 31.7702078819275, 'longitude': -84.8017930984497}, 'transactions': [], 'price': '$', 'location': {'address1': '201 College St', 'address2': None, 'address3': None, 'city': 'Cuthbert', 'zip_code': '39840', 'country': 'US', 'state': 'GA', 'display_address': ['201 College St', 'Cuthbert, GA 39840']}, 'phone': '+12297326400', 'display_phone': '(229) 732-6400', 'distance': 22856.79833681582}], 'total': 9, 'region': {'center': {'longitude': -84.9696350098, 'latitude': 31.6333409493}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'thai-smiles-waycross', 'name': 'Thai Smiles', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/glChBGwYeXustu7GJf3RSA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/thai-smiles-waycross?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 19, 'categories': [{'alias': 'sushi', 'title': 'Sushi Bars'}, {'alias': 'thai', 'title': 'Thai'}], 'rating': 4.5, 'coordinates': {'latitude': 31.2101, 'longitude': -82.36015}, 'transactions': [], 'price': '$$', 'location': {'address1': '311 Pendleton St', 'address2': '', 'address3': '', 'city': 'Waycross', 'zip_code': '31501', 'country': 'US', 'state': 'GA', 'display_address': ['311 Pendleton St', 'Waycross, GA 31501']}, 'phone': '+19128092348', 'display_phone': '(912) 809-2348', 'distance': 48347.28744307765}, {'id': 'hog-n-bones-waycross', 'name': 'Hog N Bones', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/kjuomha83ZXKCM22Jids7A/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/hog-n-bones-waycross?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 33, 'categories': [{'alias': 'bbq', 'title': 'Barbeque'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}], 'rating': 4.0, 'coordinates': {'latitude': 31.20341, 'longitude': -82.33426}, 'transactions': [], 'price': '$', 'location': {'address1': '1900 Memorial Dr', 'address2': None, 'address3': None, 'city': 'Waycross', 'zip_code': '31501', 'country': 'US', 'state': 'GA', 'display_address': ['1900 Memorial Dr', 'Waycross, GA 31501']}, 'phone': '+19122853657', 'display_phone': '(912) 285-3657', 'distance': 49442.34491819099}, {'id': 'fancy-q-sushi-bar-and-grill-waycross', 'name': 'Fancy Q Sushi Bar & Grill', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/DOEJME-6MtV5Q8Y-xNxroA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/fancy-q-sushi-bar-and-grill-waycross?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 14, 'categories': [{'alias': 'japanese', 'title': 'Japanese'}, {'alias': 'sushi', 'title': 'Sushi Bars'}], 'rating': 4.0, 'coordinates': {'latitude': 31.2103365475139, 'longitude': -82.3606079158359}, 'transactions': [], 'price': '$$', 'location': {'address1': '514 Mary St', 'address2': '', 'address3': '', 'city': 'Waycross', 'zip_code': '31501', 'country': 'US', 'state': 'GA', 'display_address': ['514 Mary St', 'Waycross, GA 31501']}, 'phone': '+19125481540', 'display_phone': '(912) 548-1540', 'distance': 48336.55406404986}], 'total': 74, 'region': {'center': {'longitude': -82.6940917969, 'latitude': 30.8827168392}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'sons-döner-kebab-statesboro', 'name': "Son's Döner Kebab", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/2peYRw-t_ICYDoS1eez5GA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/sons-d%C3%B6ner-kebab-statesboro?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 41, 'categories': [{'alias': 'german', 'title': 'German'}, {'alias': 'hotdogs', 'title': 'Fast Food'}], 'rating': 5.0, 'coordinates': {'latitude': 32.4347537, 'longitude': -81.7814917}, 'transactions': [], 'price': '$', 'location': {'address1': '17 College Plz', 'address2': '', 'address3': '', 'city': 'Statesboro', 'zip_code': '30458', 'country': 'US', 'state': 'GA', 'display_address': ['17 College Plz', 'Statesboro, GA 30458']}, 'phone': '', 'display_phone': '', 'distance': 41795.87532295713}, {'id': 'taylors-barbecue-waynesboro', 'name': "Taylor's Barbecue", 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/Zw-aO2v95pv-ZK5k_L3Gpw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/taylors-barbecue-waynesboro?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 33, 'categories': [{'alias': 'bbq', 'title': 'Barbeque'}], 'rating': 4.5, 'coordinates': {'latitude': 33.1003799438477, 'longitude': -82.0215682983398}, 'transactions': [], 'price': '$', 'location': {'address1': '112 E 13th St', 'address2': '', 'address3': '', 'city': 'Waynesboro', 'zip_code': '30830', 'country': 'US', 'state': 'GA', 'display_address': ['112 E 13th St', 'Waynesboro, GA 30830']}, 'phone': '+17065549752', 'display_phone': '(706) 554-9752', 'distance': 36162.00802395952}, {'id': 'three-tree-coffee-roasters-statesboro-2', 'name': 'Three Tree Coffee Roasters', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/lH3VCHxNpd9qtLHqqvXwLw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/three-tree-coffee-roasters-statesboro-2?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 30, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'cafes', 'title': 'Cafes'}], 'rating': 5.0, 'coordinates': {'latitude': 32.4358999, 'longitude': -81.78532}, 'transactions': [], 'price': '$', 'location': {'address1': '441 S Main St', 'address2': 'Ste 1A', 'address3': '', 'city': 'Statesboro', 'zip_code': '30458', 'country': 'US', 'state': 'GA', 'display_address': ['441 S Main St', 'Ste 1A', 'Statesboro, GA 30458']}, 'phone': '+19126818733', 'display_phone': '(912) 681-8733', 'distance': 41520.67632143356}], 'total': 136, 'region': {'center': {'longitude': -81.9580078125, 'latitude': 32.7796729757}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'roses-caribbean-restaurant-columbus', 'name': "Rose's Caribbean Restaurant", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/hV7aUTC6TjoSdqlluin7Nw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/roses-caribbean-restaurant-columbus?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 68, 'categories': [{'alias': 'caribbean', 'title': 'Caribbean'}], 'rating': 4.5, 'coordinates': {'latitude': 32.4116439819336, 'longitude': -84.9440994262695}, 'transactions': [], 'price': '$', 'location': {'address1': '2039 Torch Hill Rd', 'address2': 'Ste 200', 'address3': '', 'city': 'Columbus', 'zip_code': '31903', 'country': 'US', 'state': 'GA', 'display_address': ['2039 Torch Hill Rd', 'Ste 200', 'Columbus, GA 31903']}, 'phone': '+17066820220', 'display_phone': '(706) 682-0220', 'distance': 38466.99028069987}, {'id': 'barbs-country-kitchen-and-cakery-eufaula', 'name': "Barb's Country Kitchen & Cakery", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/UJVPNSgi6Oq1UF6Uqj8QnQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/barbs-country-kitchen-and-cakery-eufaula?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 36, 'categories': [{'alias': 'southern', 'title': 'Southern'}, {'alias': 'comfortfood', 'title': 'Comfort Food'}, {'alias': 'buffets', 'title': 'Buffets'}], 'rating': 4.5, 'coordinates': {'latitude': 31.893178448081, 'longitude': -85.1462960243225}, 'transactions': [], 'price': '$', 'location': {'address1': '114 W Broad St', 'address2': '', 'address3': '', 'city': 'Eufaula', 'zip_code': '36027', 'country': 'US', 'state': 'AL', 'display_address': ['114 W Broad St', 'Eufaula, AL 36027']}, 'phone': '+13346160035', 'display_phone': '(334) 616-0035', 'distance': 34459.300147839305}, {'id': 'river-city-grill-eufaula', 'name': 'River City Grill', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/H56zA38zYcMydu3sx6fteQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/river-city-grill-eufaula?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 59, 'categories': [{'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.5, 'coordinates': {'latitude': 31.89268, 'longitude': -85.14334}, 'transactions': [], 'price': '$$', 'location': {'address1': '209 E Broad St', 'address2': None, 'address3': None, 'city': 'Eufaula', 'zip_code': '36027', 'country': 'US', 'state': 'AL', 'display_address': ['209 E Broad St', 'Eufaula, AL 36027']}, 'phone': '+13346166550', 'display_phone': '(334) 616-6550', 'distance': 34283.743105397836}], 'total': 116, 'region': {'center': {'longitude': -84.8501586914, 'latitude': 32.0749263983}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'the-wrigley-taproom-and-brewery-corbin', 'name': 'The Wrigley Taproom & Brewery', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/IDOarWGaur1I6YVxH8U2HQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-wrigley-taproom-and-brewery-corbin?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 63, 'categories': [{'alias': 'newamerican', 'title': 'American (New)'}, {'alias': 'gastropubs', 'title': 'Gastropubs'}], 'rating': 4.5, 'coordinates': {'latitude': 36.9463914, 'longitude': -84.0961661}, 'transactions': [], 'price': '$$', 'location': {'address1': '207 S Main St', 'address2': '', 'address3': '', 'city': 'Corbin', 'zip_code': '40701', 'country': 'US', 'state': 'KY', 'display_address': ['207 S Main St', 'Corbin, KY 40701']}, 'phone': '+16062612008', 'display_phone': '(606) 261-2008', 'distance': 39804.60119839358}, {'id': 'smokey-bears-bbq-corbin', 'name': 'Smokey Bears BBQ', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/q9TJ-od8QmGTfgGwPCNVug/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/smokey-bears-bbq-corbin?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 35, 'categories': [{'alias': 'bbq', 'title': 'Barbeque'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'tex-mex', 'title': 'Tex-Mex'}], 'rating': 4.5, 'coordinates': {'latitude': 36.972719, 'longitude': -84.091613}, 'transactions': [], 'price': '$', 'location': {'address1': '1509 American Greeting Card Rd', 'address2': '', 'address3': '', 'city': 'Corbin', 'zip_code': '40701', 'country': 'US', 'state': 'KY', 'display_address': ['1509 American Greeting Card Rd', 'Corbin, KY 40701']}, 'phone': '+16065232233', 'display_phone': '(606) 523-2233', 'distance': 40990.5975886976}, {'id': 'the-pineapple-tea-room-cumberland-gap', 'name': 'The Pineapple Tea Room', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/X5sqFF5ddZ05sXTGRYL4RQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-pineapple-tea-room-cumberland-gap?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 33, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'tea', 'title': 'Tea Rooms'}, {'alias': 'newamerican', 'title': 'American (New)'}], 'rating': 4.5, 'coordinates': {'latitude': 36.5995554572053, 'longitude': -83.6680493748827}, 'transactions': [], 'price': '$', 'location': {'address1': '604 Colwyn Ave', 'address2': '', 'address3': '', 'city': 'Cumberland Gap', 'zip_code': '37724', 'country': 'US', 'state': 'TN', 'display_address': ['604 Colwyn Ave', 'Cumberland Gap, TN 37724']}, 'phone': '+14238694410', 'display_phone': '(423) 869-4410', 'distance': 19166.312569667687}], 'total': 134, 'region': {'center': {'longitude': -83.7075805664, 'latitude': 36.7689820924}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'hucks-convenient-store-providence', 'name': "Huck's Convenient Store", 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/hucks-convenient-store-providence?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 1, 'categories': [{'alias': 'pizza', 'title': 'Pizza'}], 'rating': 4.0, 'coordinates': {'latitude': 37.3981388658285, 'longitude': -87.7603648602962}, 'transactions': [], 'location': {'address1': '206 E Main St', 'address2': '', 'address3': '', 'city': 'Providence', 'zip_code': '42450', 'country': 'US', 'state': 'KY', 'display_address': ['206 E Main St', 'Providence, KY 42450']}, 'phone': '+12706677177', 'display_phone': '(270) 667-7177', 'distance': 10239.769062294565}, {'id': 'jeris-cafe-clay', 'name': "Jeri's Cafe", 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/jeris-cafe-clay?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 2, 'categories': [{'alias': 'restaurants', 'title': 'Restaurants'}], 'rating': 3.0, 'coordinates': {'latitude': 37.475647, 'longitude': -87.8215485}, 'transactions': [], 'location': {'address1': '9109 State Route 132 W', 'address2': '', 'address3': '', 'city': 'Clay', 'zip_code': '42404', 'country': 'US', 'state': 'KY', 'display_address': ['9109 State Route 132 W', 'Clay, KY 42404']}, 'phone': '+12706642528', 'display_phone': '(270) 664-2528', 'distance': 405.2383962927419}, {'id': 'mcdonalds-providence', 'name': "McDonald's", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/P3iw3b4K3aUiy3bFjlQYkw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/mcdonalds-providence?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 2, 'categories': [{'alias': 'hotdogs', 'title': 'Fast Food'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 1.0, 'coordinates': {'latitude': 37.4111841298596, 'longitude': -87.7342628641146}, 'transactions': [], 'location': {'address1': '140 Us Hwy', 'address2': '', 'address3': '', 'city': 'Providence', 'zip_code': '42450', 'country': 'US', 'state': 'KY', 'display_address': ['140 Us Hwy', 'Providence, KY 42450']}, 'phone': '+12706679996', 'display_phone': '(270) 667-9996', 'distance': 10552.552203936542}], 'total': 4, 'region': {'center': {'longitude': -87.8204154968, 'latitude': 37.4769689832}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'red-river-rockhouse-campton', 'name': 'Red River Rockhouse', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/Nv9DC_ixFTEbnBr66Ub8_w/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/red-river-rockhouse-campton?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 106, 'categories': [{'alias': 'newamerican', 'title': 'American (New)'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'mexican', 'title': 'Mexican'}], 'rating': 4.5, 'coordinates': {'latitude': 37.7395767184646, 'longitude': -83.6561797562404}, 'transactions': [], 'price': '$', 'location': {'address1': '4000 Ky Rt 11', 'address2': None, 'address3': '', 'city': 'Campton', 'zip_code': '41301', 'country': 'US', 'state': 'KY', 'display_address': ['4000 Ky Rt 11', 'Campton, KY 41301']}, 'phone': '+16066686656', 'display_phone': '(606) 668-6656', 'distance': 16010.885569327616}, {'id': 'sky-bridge-station-pine-ridge', 'name': 'Sky Bridge Station', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/-6w6IYPiBvG09N2woT6XlA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/sky-bridge-station-pine-ridge?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 38, 'categories': [{'alias': 'hotdog', 'title': 'Hot Dogs'}, {'alias': 'beer_and_wine', 'title': 'Beer, Wine & Spirits'}, {'alias': 'hostels', 'title': 'Hostels'}], 'rating': 5.0, 'coordinates': {'latitude': 37.7634095952326, 'longitude': -83.612563584311}, 'transactions': [], 'price': '$', 'location': {'address1': '20 Sky Bridge Rd', 'address2': '', 'address3': '', 'city': 'Pine Ridge', 'zip_code': '41360', 'country': 'US', 'state': 'KY', 'display_address': ['20 Sky Bridge Rd', 'Pine Ridge, KY 41360']}, 'phone': '+16066689927', 'display_phone': '(606) 668-9927', 'distance': 19946.0639472584}, {'id': 'los-two-brothers-beattyville', 'name': 'Los Two Brothers', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/2OMrAYNsmr2Z-pgNOhBUfA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/los-two-brothers-beattyville?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 8, 'categories': [{'alias': 'mexican', 'title': 'Mexican'}], 'rating': 4.5, 'coordinates': {'latitude': 37.5727492, 'longitude': -83.7088604}, 'transactions': [], 'price': '$', 'location': {'address1': '146 Main St', 'address2': '', 'address3': '', 'city': 'Beattyville', 'zip_code': '41311', 'country': 'US', 'state': 'KY', 'display_address': ['146 Main St', 'Beattyville, KY 41311']}, 'phone': '+16062088002', 'display_phone': '(606) 208-8002', 'distance': 3418.621530376506}], 'total': 9, 'region': {'center': {'longitude': -83.7144470215, 'latitude': 37.6031732459}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'pura-vida-somerset', 'name': 'Pura Vida', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/oRCg3FYwgAgkFg19r_VC2Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/pura-vida-somerset?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 53, 'categories': [{'alias': 'latin', 'title': 'Latin American'}], 'rating': 5.0, 'coordinates': {'latitude': 37.044642, 'longitude': -84.626289}, 'transactions': [], 'price': '$$', 'location': {'address1': '3499 S Hwy 27', 'address2': '', 'address3': None, 'city': 'Somerset', 'zip_code': '42501', 'country': 'US', 'state': 'KY', 'display_address': ['3499 S Hwy 27', 'Somerset, KY 42501']}, 'phone': '+16064165559', 'display_phone': '(606) 416-5559', 'distance': 31684.616305423355}, {'id': 'guthries-grill-somerset', 'name': "Guthrie's Grill", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/FjIr8TQKnIQ8k2DZ_O_TXw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/guthries-grill-somerset?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 61, 'categories': [{'alias': 'steak', 'title': 'Steakhouses'}], 'rating': 4.5, 'coordinates': {'latitude': 37.0086479494959, 'longitude': -84.6236436989473}, 'transactions': [], 'price': '$$', 'location': {'address1': '6075 S Hwy 27', 'address2': None, 'address3': None, 'city': 'Somerset', 'zip_code': '42501', 'country': 'US', 'state': 'KY', 'display_address': ['6075 S Hwy 27', 'Somerset, KY 42501']}, 'phone': '+16064255987', 'display_phone': '(606) 425-5987', 'distance': 27879.970013495098}, {'id': 'the-wrigley-taproom-and-brewery-corbin', 'name': 'The Wrigley Taproom & Brewery', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/IDOarWGaur1I6YVxH8U2HQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-wrigley-taproom-and-brewery-corbin?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 63, 'categories': [{'alias': 'newamerican', 'title': 'American (New)'}, {'alias': 'gastropubs', 'title': 'Gastropubs'}], 'rating': 4.5, 'coordinates': {'latitude': 36.9463914, 'longitude': -84.0961661}, 'transactions': [], 'price': '$$', 'location': {'address1': '207 S Main St', 'address2': '', 'address3': '', 'city': 'Corbin', 'zip_code': '40701', 'country': 'US', 'state': 'KY', 'display_address': ['207 S Main St', 'Corbin, KY 40701']}, 'phone': '+16062612008', 'display_phone': '(606) 261-2008', 'distance': 40630.68252015793}], 'total': 184, 'region': {'center': {'longitude': -84.5013427734, 'latitude': 36.7777821004}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'havana-cafe-london', 'name': 'Havana Cafe', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/WSH7Ln6kL0_LMTO8WpdUFw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/havana-cafe-london?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 32, 'categories': [{'alias': 'cuban', 'title': 'Cuban'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}, {'alias': 'seafood', 'title': 'Seafood'}], 'rating': 4.5, 'coordinates': {'latitude': 37.09866, 'longitude': -84.06747}, 'transactions': [], 'price': '$', 'location': {'address1': '634 S Laurel Rd', 'address2': None, 'address3': '', 'city': 'London', 'zip_code': '40744', 'country': 'US', 'state': 'KY', 'display_address': ['634 S Laurel Rd', 'London, KY 40744']}, 'phone': '+16068775206', 'display_phone': '(606) 877-5206', 'distance': 46078.38344690095}, {'id': 'gondolier-italian-restaurant-and-pizza-london', 'name': 'Gondolier Italian Restaurant & Pizza', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/8nBl-TlcF5EerRNRvsp5eA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/gondolier-italian-restaurant-and-pizza-london?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 45, 'categories': [{'alias': 'italian', 'title': 'Italian'}, {'alias': 'bars', 'title': 'Bars'}, {'alias': 'pizza', 'title': 'Pizza'}], 'rating': 4.0, 'coordinates': {'latitude': 37.1444997219448, 'longitude': -84.1079934686422}, 'transactions': [], 'price': '$$', 'location': {'address1': '305 W Hwy 80', 'address2': None, 'address3': None, 'city': 'London', 'zip_code': '40741', 'country': 'US', 'state': 'KY', 'display_address': ['305 W Hwy 80', 'London, KY 40741']}, 'phone': '+16068781222', 'display_phone': '(606) 878-1222', 'distance': 45490.42106063697}, {'id': 'mama-rosas-chicago-sandwich-shop-london-2', 'name': "Mama Rosa's Chicago Sandwich Shop", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/OlWWZU1UJPF7WKgjVthDSw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/mama-rosas-chicago-sandwich-shop-london-2?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 14, 'categories': [{'alias': 'italian', 'title': 'Italian'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}], 'rating': 4.5, 'coordinates': {'latitude': 37.1234427, 'longitude': -84.079084}, 'transactions': [], 'price': '$', 'location': {'address1': '805 S Main St', 'address2': '', 'address3': 'Carnaby Square Shopping Ctr', 'city': 'London', 'zip_code': '40741', 'country': 'US', 'state': 'KY', 'display_address': ['805 S Main St', 'Carnaby Square Shopping Ctr', 'London, KY 40741']}, 'phone': '+16068640660', 'display_phone': '(606) 864-0660', 'distance': 45070.82560637593}], 'total': 94, 'region': {'center': {'longitude': -83.7048339844, 'latitude': 37.3983494624}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'red-river-rockhouse-campton', 'name': 'Red River Rockhouse', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/Nv9DC_ixFTEbnBr66Ub8_w/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/red-river-rockhouse-campton?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 106, 'categories': [{'alias': 'newamerican', 'title': 'American (New)'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'mexican', 'title': 'Mexican'}], 'rating': 4.5, 'coordinates': {'latitude': 37.7395767184646, 'longitude': -83.6561797562404}, 'transactions': [], 'price': '$', 'location': {'address1': '4000 Ky Rt 11', 'address2': None, 'address3': '', 'city': 'Campton', 'zip_code': '41301', 'country': 'US', 'state': 'KY', 'display_address': ['4000 Ky Rt 11', 'Campton, KY 41301']}, 'phone': '+16066686656', 'display_phone': '(606) 668-6656', 'distance': 16008.951587308256}, {'id': 'miguels-pizza-slade', 'name': "Miguel's Pizza", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/m3Vz-ISgwI1ALkh05GIsFw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/miguels-pizza-slade?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 173, 'categories': [{'alias': 'pizza', 'title': 'Pizza'}], 'rating': 4.5, 'coordinates': {'latitude': 37.7830851348961, 'longitude': -83.683012588074}, 'transactions': [], 'price': '$', 'location': {'address1': '1890 Natural Bridge Rd', 'address2': '', 'address3': '', 'city': 'Slade', 'zip_code': '40376', 'country': 'US', 'state': 'KY', 'display_address': ['1890 Natural Bridge Rd', 'Slade, KY 40376']}, 'phone': '+16066631975', 'display_phone': '(606) 663-1975', 'distance': 18989.08826305627}, {'id': 'sky-bridge-station-pine-ridge', 'name': 'Sky Bridge Station', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/-6w6IYPiBvG09N2woT6XlA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/sky-bridge-station-pine-ridge?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 38, 'categories': [{'alias': 'hotdog', 'title': 'Hot Dogs'}, {'alias': 'beer_and_wine', 'title': 'Beer, Wine & Spirits'}, {'alias': 'hostels', 'title': 'Hostels'}], 'rating': 5.0, 'coordinates': {'latitude': 37.7634095952326, 'longitude': -83.612563584311}, 'transactions': [], 'price': '$', 'location': {'address1': '20 Sky Bridge Rd', 'address2': '', 'address3': '', 'city': 'Pine Ridge', 'zip_code': '41360', 'country': 'US', 'state': 'KY', 'display_address': ['20 Sky Bridge Rd', 'Pine Ridge, KY 41360']}, 'phone': '+16066689927', 'display_phone': '(606) 668-9927', 'distance': 12456.386511309302}], 'total': 40, 'region': {'center': {'longitude': -83.4741210938, 'latitude': 37.739596351}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'the-onward-store-rolling-fork-4', 'name': 'The Onward Store', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/y_NfWY21Dyhzk8N5xGeYHA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-onward-store-rolling-fork-4?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 19, 'categories': [{'alias': 'burgers', 'title': 'Burgers'}], 'rating': 4.5, 'coordinates': {'latitude': 32.9166924, 'longitude': -90.8671314}, 'transactions': [], 'price': '$$', 'location': {'address1': '6693 Hwy 61', 'address2': None, 'address3': '', 'city': 'Rolling Fork', 'zip_code': '39159', 'country': 'US', 'state': 'MS', 'display_address': ['6693 Hwy 61', 'Rolling Fork, MS 39159']}, 'phone': '+16628736809', 'display_phone': '(662) 873-6809', 'distance': 37638.11001395868}, {'id': 'la-fonda-mexican-cantina-and-grill-delhi', 'name': 'La Fonda Mexican Cantina and Grill', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/aixOz1pwoKHcVa8E0V9XbA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/la-fonda-mexican-cantina-and-grill-delhi?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 12, 'categories': [{'alias': 'mexican', 'title': 'Mexican'}], 'rating': 4.5, 'coordinates': {'latitude': 32.4492245167494, 'longitude': -91.4929463714361}, 'transactions': [], 'price': '$', 'location': {'address1': '832 Broadway', 'address2': '', 'address3': '', 'city': 'Delhi', 'zip_code': '71232', 'country': 'US', 'state': 'LA', 'display_address': ['832 Broadway', 'Delhi, LA 71232']}, 'phone': '+13184885021', 'display_phone': '(318) 488-5021', 'distance': 43282.15155705667}, {'id': 'the-dock-lake-providence', 'name': 'The Dock', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/eLwtHUGnCM4laeHi4Mx7Mg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-dock-lake-providence?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 17, 'categories': [{'alias': 'cajun', 'title': 'Cajun/Creole'}, {'alias': 'seafood', 'title': 'Seafood'}], 'rating': 4.0, 'coordinates': {'latitude': 32.8122460802352, 'longitude': -91.1898263783025}, 'transactions': [], 'price': '$$', 'location': {'address1': '1829 Lake St', 'address2': '', 'address3': '', 'city': 'Lake Providence', 'zip_code': '71254', 'country': 'US', 'state': 'LA', 'display_address': ['1829 Lake St', 'Lake Providence, LA 71254']}, 'phone': '+13185593625', 'display_phone': '(318) 559-3625', 'distance': 5961.165204915579}], 'total': 24, 'region': {'center': {'longitude': -91.23046875, 'latitude': 32.7704358138}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'old-country-store-lorman-2', 'name': 'Old Country Store', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/lvg_Nlic4L9XYVtQgDn3tw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/old-country-store-lorman-2?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 63, 'categories': [{'alias': 'soulfood', 'title': 'Soul Food'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.5, 'coordinates': {'latitude': 31.8413993020941, 'longitude': -91.0292816162109}, 'transactions': [], 'price': '$$', 'location': {'address1': '18801 Hwy 61', 'address2': '', 'address3': '', 'city': 'Lorman', 'zip_code': '39096', 'country': 'US', 'state': 'MS', 'display_address': ['18801 Hwy 61', 'Lorman, MS 39096']}, 'phone': '+16014373661', 'display_phone': '(601) 437-3661', 'distance': 30862.589489193942}, {'id': 'the-tomato-place-vicksburg', 'name': 'The Tomato Place', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/LLUAUxss5Sv6YOToCcS69w/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-tomato-place-vicksburg?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 79, 'categories': [{'alias': 'juicebars', 'title': 'Juice Bars & Smoothies'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}, {'alias': 'farmersmarket', 'title': 'Farmers Market'}], 'rating': 4.5, 'coordinates': {'latitude': 32.2760842, 'longitude': -90.9161702}, 'transactions': [], 'price': '$', 'location': {'address1': '3229 Hwy 61 S', 'address2': '', 'address3': '', 'city': 'Vicksburg', 'zip_code': '39180', 'country': 'US', 'state': 'MS', 'display_address': ['3229 Hwy 61 S', 'Vicksburg, MS 39180']}, 'phone': '+16016610040', 'display_phone': '(601) 661-0040', 'distance': 48394.57529522647}, {'id': 'the-snack-shack-sicily-island', 'name': 'The Snack Shack', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/QP1w7NhWnT8hntvQKaiZKA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-snack-shack-sicily-island?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 7, 'categories': [{'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'hotdogs', 'title': 'Fast Food'}], 'rating': 5.0, 'coordinates': {'latitude': 31.8479307, 'longitude': -91.6601184}, 'transactions': [], 'price': '$', 'location': {'address1': '704 Chisum St', 'address2': '', 'address3': '', 'city': 'Sicily Island', 'zip_code': '71368', 'country': 'US', 'state': 'LA', 'display_address': ['704 Chisum St', 'Sicily Island, LA 71368']}, 'phone': '+13183894449', 'display_phone': '(318) 389-4449', 'distance': 37137.2470557961}], 'total': 31, 'region': {'center': {'longitude': -91.3046264648, 'latitude': 31.991105764}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'old-country-store-lorman-2', 'name': 'Old Country Store', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/lvg_Nlic4L9XYVtQgDn3tw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/old-country-store-lorman-2?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 63, 'categories': [{'alias': 'soulfood', 'title': 'Soul Food'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.5, 'coordinates': {'latitude': 31.8413993020941, 'longitude': -91.0292816162109}, 'transactions': [], 'price': '$$', 'location': {'address1': '18801 Hwy 61', 'address2': '', 'address3': '', 'city': 'Lorman', 'zip_code': '39096', 'country': 'US', 'state': 'MS', 'display_address': ['18801 Hwy 61', 'Lorman, MS 39096']}, 'phone': '+16014373661', 'display_phone': '(601) 437-3661', 'distance': 18773.140174758304}, {'id': 'walnut-hills-vicksburg', 'name': 'Walnut Hills', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/bCChVNPZROsLjZZn09W1rw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/walnut-hills-vicksburg?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 190, 'categories': [{'alias': 'southern', 'title': 'Southern'}, {'alias': 'steak', 'title': 'Steakhouses'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.0, 'coordinates': {'latitude': 32.349952, 'longitude': -90.877523}, 'transactions': [], 'price': '$$', 'location': {'address1': '1214 Adams St', 'address2': '', 'address3': '', 'city': 'Vicksburg', 'zip_code': '39183', 'country': 'US', 'state': 'MS', 'display_address': ['1214 Adams St', 'Vicksburg, MS 39183']}, 'phone': '+16016384910', 'display_phone': '(601) 638-4910', 'distance': 39554.271030966775}, {'id': 'the-tomato-place-vicksburg', 'name': 'The Tomato Place', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/LLUAUxss5Sv6YOToCcS69w/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-tomato-place-vicksburg?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 79, 'categories': [{'alias': 'juicebars', 'title': 'Juice Bars & Smoothies'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}, {'alias': 'farmersmarket', 'title': 'Farmers Market'}], 'rating': 4.5, 'coordinates': {'latitude': 32.2760842, 'longitude': -90.9161702}, 'transactions': [], 'price': '$', 'location': {'address1': '3229 Hwy 61 S', 'address2': '', 'address3': '', 'city': 'Vicksburg', 'zip_code': '39180', 'country': 'US', 'state': 'MS', 'display_address': ['3229 Hwy 61 S', 'Vicksburg, MS 39180']}, 'phone': '+16016610040', 'display_phone': '(601) 661-0040', 'distance': 30737.35906096571}], 'total': 91, 'region': {'center': {'longitude': -90.9805297852, 'latitude': 32.0050811967}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'p-reaux-cajun-mudbugs-and-shrimp-yazoo-city', 'name': 'P-Reaux Cajun Mudbugs & Shrimp', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/-W-3_ZZoEOgDyluGtSoT7w/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/p-reaux-cajun-mudbugs-and-shrimp-yazoo-city?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 14, 'categories': [{'alias': 'cajun', 'title': 'Cajun/Creole'}, {'alias': 'seafood', 'title': 'Seafood'}, {'alias': 'burgers', 'title': 'Burgers'}], 'rating': 4.5, 'coordinates': {'latitude': 32.84746, 'longitude': -90.41651}, 'transactions': [], 'price': '$$', 'location': {'address1': '124 S Water St', 'address2': None, 'address3': None, 'city': 'Yazoo City', 'zip_code': '39194', 'country': 'US', 'state': 'MS', 'display_address': ['124 S Water St', 'Yazoo City, MS 39194']}, 'phone': '+16627464460', 'display_phone': '(662) 746-4460', 'distance': 43525.34166274868}, {'id': 'clancys-yazoo-city', 'name': "Clancy's", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/bzTULBN8BZvgdmNRjqYXLQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/clancys-yazoo-city?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 9, 'categories': [{'alias': 'southern', 'title': 'Southern'}, {'alias': 'bbq', 'title': 'Barbeque'}], 'rating': 4.5, 'coordinates': {'latitude': 32.8668639168143, 'longitude': -90.3946807537397}, 'transactions': [], 'price': '$$', 'location': {'address1': '1505 Jerry Clower Blvd', 'address2': '', 'address3': '', 'city': 'Yazoo City', 'zip_code': '39194', 'country': 'US', 'state': 'MS', 'display_address': ['1505 Jerry Clower Blvd', 'Yazoo City, MS 39194']}, 'phone': '+16627462339', 'display_phone': '(662) 746-2339', 'distance': 40558.88384028578}, {'id': 'toms-on-main-yazoo-city', 'name': "Tom's on Main", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/-0frwv773xnfYVhVdRPmQg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/toms-on-main-yazoo-city?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 16, 'categories': [{'alias': 'italian', 'title': 'Italian'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}], 'rating': 4.0, 'coordinates': {'latitude': 32.8439620569555, 'longitude': -90.4160498455167}, 'transactions': [], 'price': '$$', 'location': {'address1': '219 S Main St', 'address2': '', 'address3': '', 'city': 'Yazoo City', 'zip_code': '39194', 'country': 'US', 'state': 'MS', 'display_address': ['219 S Main St', 'Yazoo City, MS 39194']}, 'phone': '+16627160505', 'display_phone': '(662) 716-0505', 'distance': 43777.10627515099}], 'total': 39, 'region': {'center': {'longitude': -90.090637207, 'latitude': 33.1276732843}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'the-onward-store-rolling-fork-4', 'name': 'The Onward Store', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/y_NfWY21Dyhzk8N5xGeYHA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-onward-store-rolling-fork-4?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 19, 'categories': [{'alias': 'burgers', 'title': 'Burgers'}], 'rating': 4.5, 'coordinates': {'latitude': 32.9166924, 'longitude': -90.8671314}, 'transactions': [], 'price': '$$', 'location': {'address1': '6693 Hwy 61', 'address2': None, 'address3': '', 'city': 'Rolling Fork', 'zip_code': '39159', 'country': 'US', 'state': 'MS', 'display_address': ['6693 Hwy 61', 'Rolling Fork, MS 39159']}, 'phone': '+16628736809', 'display_phone': '(662) 873-6809', 'distance': 38856.70449990688}, {'id': 'the-blue-biscuit-indianola', 'name': 'The Blue Biscuit', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/hLlbvVXj1KT7cT5jkCVjQA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-blue-biscuit-indianola?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 15, 'categories': [{'alias': 'southern', 'title': 'Southern'}, {'alias': 'bbq', 'title': 'Barbeque'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.5, 'coordinates': {'latitude': 33.4496129109872, 'longitude': -90.644405145369}, 'transactions': [], 'price': '$$', 'location': {'address1': '501 Second St', 'address2': None, 'address3': '', 'city': 'Indianola', 'zip_code': '38751', 'country': 'US', 'state': 'MS', 'display_address': ['501 Second St', 'Indianola, MS 38751']}, 'phone': '+16626450258', 'display_phone': '(662) 645-0258', 'distance': 37515.573624430996}, {'id': 'bettys-place-indianola', 'name': "Betty's Place", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/_SU_FtxTG7zObMQkAMHA3g/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/bettys-place-indianola?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 12, 'categories': [{'alias': 'salad', 'title': 'Salad'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}], 'rating': 4.5, 'coordinates': {'latitude': 33.45153, 'longitude': -90.64746}, 'transactions': [], 'price': '$', 'location': {'address1': '301 Main St', 'address2': '', 'address3': '', 'city': 'Indianola', 'zip_code': '38751', 'country': 'US', 'state': 'MS', 'display_address': ['301 Main St', 'Indianola, MS 38751']}, 'phone': '+16628872627', 'display_phone': '(662) 887-2627', 'distance': 37783.79578010297}], 'total': 64, 'region': {'center': {'longitude': -90.5328369141, 'latitude': 33.1253731575}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'the-onward-store-rolling-fork-4', 'name': 'The Onward Store', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/y_NfWY21Dyhzk8N5xGeYHA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-onward-store-rolling-fork-4?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 19, 'categories': [{'alias': 'burgers', 'title': 'Burgers'}], 'rating': 4.5, 'coordinates': {'latitude': 32.9166924, 'longitude': -90.8671314}, 'transactions': [], 'price': '$$', 'location': {'address1': '6693 Hwy 61', 'address2': None, 'address3': '', 'city': 'Rolling Fork', 'zip_code': '39159', 'country': 'US', 'state': 'MS', 'display_address': ['6693 Hwy 61', 'Rolling Fork, MS 39159']}, 'phone': '+16628736809', 'display_phone': '(662) 873-6809', 'distance': 24306.794516496586}, {'id': 'tbeauxs-crawfish-and-catering-vicksburg', 'name': "T'Beaux's Crawfish & Catering", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/KFIc_ioUnDCk_GNNV5qQRA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/tbeauxs-crawfish-and-catering-vicksburg?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 28, 'categories': [{'alias': 'cajun', 'title': 'Cajun/Creole'}], 'rating': 4.0, 'coordinates': {'latitude': 32.3685536, 'longitude': -90.8180552}, 'transactions': [], 'price': '$$', 'location': {'address1': '1625 Culkin Rd', 'address2': '', 'address3': '', 'city': 'Vicksburg', 'zip_code': '39183', 'country': 'US', 'state': 'MS', 'display_address': ['1625 Culkin Rd', 'Vicksburg, MS 39183']}, 'phone': '+16016346622', 'display_phone': '(601) 634-6622', 'distance': 40045.403157788736}, {'id': 'the-dock-lake-providence', 'name': 'The Dock', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/eLwtHUGnCM4laeHi4Mx7Mg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-dock-lake-providence?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 17, 'categories': [{'alias': 'cajun', 'title': 'Cajun/Creole'}, {'alias': 'seafood', 'title': 'Seafood'}], 'rating': 4.0, 'coordinates': {'latitude': 32.8122460802352, 'longitude': -91.1898263783025}, 'transactions': [], 'price': '$$', 'location': {'address1': '1829 Lake St', 'address2': '', 'address3': '', 'city': 'Lake Providence', 'zip_code': '71254', 'country': 'US', 'state': 'LA', 'display_address': ['1829 Lake St', 'Lake Providence, LA 71254']}, 'phone': '+13185593625', 'display_phone': '(318) 559-3625', 'distance': 24951.027524623565}], 'total': 26, 'region': {'center': {'longitude': -90.9530639648, 'latitude': 32.7103708991}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'kings-tavern-natchez-6', 'name': "King's Tavern", 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/gBWd4YiUxXZHTZp9Lsdojg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/kings-tavern-natchez-6?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 103, 'categories': [{'alias': 'bars', 'title': 'Bars'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.5, 'coordinates': {'latitude': 31.560381, 'longitude': -91.399106}, 'transactions': ['restaurant_reservation'], 'price': '$$', 'location': {'address1': '613 Jefferson St', 'address2': None, 'address3': '', 'city': 'Natchez', 'zip_code': '39120', 'country': 'US', 'state': 'MS', 'display_address': ['613 Jefferson St', 'Natchez, MS 39120']}, 'phone': '+16014465003', 'display_phone': '(601) 446-5003', 'distance': 38408.00723439243}, {'id': 'old-country-store-lorman-2', 'name': 'Old Country Store', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/lvg_Nlic4L9XYVtQgDn3tw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/old-country-store-lorman-2?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 63, 'categories': [{'alias': 'soulfood', 'title': 'Soul Food'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}], 'rating': 4.5, 'coordinates': {'latitude': 31.8413993020941, 'longitude': -91.0292816162109}, 'transactions': [], 'price': '$$', 'location': {'address1': '18801 Hwy 61', 'address2': '', 'address3': '', 'city': 'Lorman', 'zip_code': '39096', 'country': 'US', 'state': 'MS', 'display_address': ['18801 Hwy 61', 'Lorman, MS 39096']}, 'phone': '+16014373661', 'display_phone': '(601) 437-3661', 'distance': 11565.784092407419}, {'id': 'the-donut-shop-natchez', 'name': 'The Donut Shop', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/Rgw1jkTpRyeeLwAZoQWNYA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-donut-shop-natchez?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 40, 'categories': [{'alias': 'donuts', 'title': 'Donuts'}, {'alias': 'burgers', 'title': 'Burgers'}], 'rating': 5.0, 'coordinates': {'latitude': 31.5392265319824, 'longitude': -91.3961868286133}, 'transactions': [], 'price': '$', 'location': {'address1': '501 John R Junkin Dr', 'address2': '', 'address3': '', 'city': 'Natchez', 'zip_code': '39120', 'country': 'US', 'state': 'MS', 'display_address': ['501 John R Junkin Dr', 'Natchez, MS 39120']}, 'phone': '+16014422317', 'display_phone': '(601) 442-2317', 'distance': 39493.126163870016}], 'total': 90, 'region': {'center': {'longitude': -91.051940918, 'latitude': 31.7391843096}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'mimmos-ristorante-pizzeria-quitman', 'name': 'Mimmos Ristorante Pizzeria', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/1E4q7wSBwxMJNbeDxL2N_Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/mimmos-ristorante-pizzeria-quitman?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 20, 'categories': [{'alias': 'italian', 'title': 'Italian'}, {'alias': 'salad', 'title': 'Salad'}, {'alias': 'pizza', 'title': 'Pizza'}], 'rating': 4.5, 'coordinates': {'latitude': 32.0399107149421, 'longitude': -88.729213071123}, 'transactions': [], 'price': '$$', 'location': {'address1': '110 Main St', 'address2': '', 'address3': '', 'city': 'Quitman', 'zip_code': '39355', 'country': 'US', 'state': 'MS', 'display_address': ['110 Main St', 'Quitman, MS 39355']}, 'phone': '+16015579006', 'display_phone': '(601) 557-9006', 'distance': 1133.800823316536}, {'id': 'a-and-m-fried-chicken-2-quitman', 'name': 'A & M Fried Chicken 2', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/dUeshnK2Er2uaigDXN9VWg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/a-and-m-fried-chicken-2-quitman?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 5, 'categories': [{'alias': 'southern', 'title': 'Southern'}], 'rating': 4.0, 'coordinates': {'latitude': 32.04773, 'longitude': -88.72748}, 'transactions': [], 'price': '$', 'location': {'address1': '502 N Archusa Ave', 'address2': '', 'address3': '', 'city': 'Quitman', 'zip_code': '39355', 'country': 'US', 'state': 'MS', 'display_address': ['502 N Archusa Ave', 'Quitman, MS 39355']}, 'phone': '+16017761489', 'display_phone': '(601) 776-1489', 'distance': 1061.359852148906}, {'id': 'skidmores-restaurant-quitman', 'name': 'Skidmores Restaurant', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/YIi7tzDRO8AsdkX9LlDitw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/skidmores-restaurant-quitman?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 8, 'categories': [{'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}, {'alias': 'steak', 'title': 'Steakhouses'}], 'rating': 3.5, 'coordinates': {'latitude': 32.0388360008375, 'longitude': -88.7294171973785}, 'transactions': [], 'price': '$', 'location': {'address1': '109 S Railroad Ave', 'address2': '', 'address3': '', 'city': 'Quitman', 'zip_code': '39355', 'country': 'US', 'state': 'MS', 'display_address': ['109 S Railroad Ave', 'Quitman, MS 39355']}, 'phone': '+16017766650', 'display_phone': '(601) 776-6650', 'distance': 1203.878322427252}], 'total': 8, 'region': {'center': {'longitude': -88.7182044983, 'latitude': 32.0440206816}}}
Querying https://api.yelp.com/v3/businesses/search ...
{'businesses': [{'id': 'teresas-tamales-cleveland', 'name': "Teresa's Tamales", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/B4jd2IwzPGEgUw4UAySZhA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/teresas-tamales-cleveland?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 11, 'categories': [{'alias': 'mexican', 'title': 'Mexican'}], 'rating': 5.0, 'coordinates': {'latitude': 35.994159, 'longitude': -105.3710201}, 'transactions': [], 'location': {'address1': '3296 Nm 518', 'address2': None, 'address3': '', 'city': 'Cleveland', 'zip_code': '87715', 'country': 'US', 'state': 'NM', 'display_address': ['3296 Nm 518', 'Cleveland, NM 87715']}, 'phone': '+15753872754', 'display_phone': '(575) 387-2754', 'distance': 3709.3926225781674}, {'id': 'hatchas-grill-mora', 'name': "Hatcha's Grill", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/E8v9o7E0sjZN_7mX25ZJUw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/hatchas-grill-mora?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 9, 'categories': [{'alias': 'newamerican', 'title': 'American (New)'}], 'rating': 5.0, 'coordinates': {'latitude': 35.967247, 'longitude': -105.302419}, 'transactions': [], 'price': '$', 'location': {'address1': 'Hwy 518', 'address2': '', 'address3': '', 'city': 'Mora', 'zip_code': '87732', 'country': 'US', 'state': 'NM', 'display_address': ['Hwy 518', 'Mora, NM 87732']}, 'phone': '', 'display_phone': '', 'distance': 3366.51248778385}, {'id': 'renes-50s-diner-mora', 'name': "Rene's 50's Diner", 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/vtZh_BLrN4pJFudN4NuE4Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/renes-50s-diner-mora?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 7, 'categories': [{'alias': 'cafes', 'title': 'Cafes'}, {'alias': 'cupcakes', 'title': 'Cupcakes'}], 'rating': 4.5, 'coordinates': {'latitude': 35.951519, 'longitude': -105.272049}, 'transactions': [], 'price': '$', 'location': {'address1': '481 Highway 518', 'address2': '', 'address3': '', 'city': 'Mora', 'zip_code': '87732', 'country': 'US', 'state': 'NM', 'display_address': ['481 Highway 518', 'Mora, NM 87732']}, 'phone': '', 'display_phone': '', 'distance': 425.46681421105797}], 'total': 4, 'region': {'center': {'longitude': -105.3391456604, 'latitude': 35.9730023069}}}
Querying https://api.yelp.com/v3/businesses/search ...

{'businesses': [{'id': 'taqueria-guadalajara-premont', 'name': 'Taqueria Guadalajara', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/reDrEfZV5PF06ip0G90khA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/taqueria-guadalajara-premont?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 11, 'categories': [{'alias': 'mexican', 'title': 'Mexican'}], 'rating': 4.5, 'coordinates': {'latitude': 27.3539547622204, 'longitude': -98.1241938471794}, 'transactions': [], 'price': '$', 'location': {'address1': '725 S Broadway St', 'address2': '', 'address3': '', 'city': 'Premont', 'zip_code': '78375', 'country': 'US', 'state': 'TX', 'display_address': ['725 S Broadway St', 'Premont, TX 78375']}, 'phone': '+13613483747', 'display_phone': '(361) 348-3747', 'distance': 39377.16180697129}, {'id': 'godfathers-pizza-falfurrias', 'name': "Godfather's Pizza", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/9vXrQkbZ2YmuYLYYquKpyg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/godfathers-pizza-falfurrias?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 5, 'categories': [{'alias': 'pizza', 'title': 'Pizza'}], 'rating': 4.0, 'coordinates': {'latitude': 27.2265323996544, 'longitude': -98.1424737721682}, 'transactions': [], 'price': '$', 'location': {'address1': '232 E Rice St', 'address2': '', 'address3': '', 'city': 'Falfurrias', 'zip_code': '78355', 'country': 'US', 'state': 'TX', 'display_address': ['232 E Rice St', 'Falfurrias, TX 78355']}, 'phone': '+13613234234', 'display_phone': '(361) 323-4234', 'distance': 25635.223896823914}, {'id': 'oasis-restaurant-premont', 'name': 'Oasis Restaurant', 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/oasis-restaurant-premont?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw', 'review_count': 7, 'categories': [{'alias': 'restaurants', 'title': 'Restaurants'}], 'rating': 3.5, 'coordinates': {'latitude': 27.3584501445293, 'longitude': -98.1237251311541}, 'transactions': [], 'price': '$$', 'location': {'address1': '303 S Broadway St', 'address2': '', 'address3': '', 'city': 'Premont', 'zip_code': '78375', 'country': 'US', 'state': 'TX', 'display_address': ['303 S Broadway St', 'Premont, TX 78375']}, 'phone': '+13613483917', 'display_phone': '(361) 348-3917', 'distance': 39853.40716719664}], 'total': 17, 'region': {'center': {'longitude': -98.26171875, 'latitude': 27.021831278}}}

In [194]:
print(len(Restaurant_zip))
print(len(Restaurant_Name))
print(len(Restaurant_City))
print(len(Restaurant_State))
print(len(Restaurant_zip))
print(len(Restaurant_type))
print(len(Restaurant_County))     
print(len(Restaurant_ReviewCount))  
print(len(Restaurant_price_cat))

75
75
75
75
75
75
75
75
75

In [195]:
#print(len(Restaurant_rating))
# len(Restaurant_type)
# len(Restaurant_County)
# len(Restaurant_ReviewCount)

Yelp_df=pd.DataFrame({"Restaurant Name":Restaurant_Name,"Restaurant City":Restaurant_City,"State":Restaurant_State,
                     "ZipCode":Restaurant_zip,"Type":Restaurant_type,
                      "Rating":Restaurant_rating,"County":Restaurant_County,"Review Count":Restaurant_ReviewCount})
Yelp_df

,County,Rating,Restaurant City,Restaurant Name,Review Count,State,Type,ZipCode
0,Conecuh,5.0,Evergreen,The Shack,30,AL,Southern,36401
1,Conecuh,3.5,Evergreen,Shrimp Basket,54,AL,Seafood,36401
2,Conecuh,4.5,Monroeville,Big D's Butts 'N Stuff,7,AL,Barbeque,36460
3,Greene,4.5,Tuscaloosa,Nick's Original Filet House,63,AL,Steakhouses,35401
4,Greene,4.5,Livingston,Taste of India,37,AL,Indian,35470
5,Greene,5.0,York,Larkin's Restaurant & Deli,19,AL,Delis,36925
6,Perry,4.5,Selma,Lannie's Bar-B-Q Spot,34,AL,Barbeque,36703
7,Perry,4.5,Selma,Side Porch Sandwichs and Pub,11,AL,Sandwiches,36703
8,Perry,4.5,Selma,The Coffee Shoppe,11,AL,Coffee & Tea,36701
9,Sumter,4.5,Livingston,Taste of India,37,AL,Indian,35470
10,Sumter,5.0,York,Larkin's Restaurant & Deli,19,AL,Delis,36925
11,Sumter,3.5,Demopolis,Smokin' Jack's Bar B Que,15,AL,Barbeque,36732
12,Wilcox,4.0,Selma,Hancock's Country Bar-B-Que,8,AL,Barbeque,36701
13,Wilcox,4.5,Camden,Ms Kitty's,5,AL,American (New),36726
14,Wilcox,4.5,Camden,Jackson's Fried Chicken,2,AL,Chicken Shop,36726
15,Clay,5.0,Bluffton,Seasons,4,GA,Diners,39824
16,Clay,4.0,Cuthbert,Huddle House,2,GA,American (New),39840
17,Clay,3.0,Cuthbert,Carters Fried Chicken,2,GA,Chicken Wings,39840
18,Clinch,4.5,Waycross,Thai Smiles,19,GA,Sushi Bars,31501
19,Clinch,4.0,Waycross,Hog N Bones,33,GA,Barbeque,31501
20,Clinch,4.0,Waycross,Fancy Q Sushi Bar & Grill,14,GA,Japanese,31501
21,Jenkins,5.0,Statesboro,Son's Döner Kebab,41,GA,German,30458
22,Jenkins,4.5,Waynesboro,Taylor's Barbecue,33,GA,Barbeque,30830
23,Jenkins,5.0,Statesboro,Three Tree Coffee Roasters,30,GA,Coffee & Tea,30458
24,Stewart,4.5,Columbus,Rose's Caribbean Restaurant,68,GA,Caribbean,31903
25,Stewart,4.5,Eufaula,Barb's Country Kitchen & Cakery,36,AL,Southern,36027
26,Stewart,4.5,Eufaula,River City Grill,59,AL,American (Traditional),36027
27,Bell,4.5,Corbin,The Wrigley Taproom & Brewery,63,KY,American (New),40701
28,Bell,4.5,Corbin,Smokey Bears BBQ,35,KY,Barbeque,40701
29,Bell,4.5,Cumberland Gap,The Pineapple Tea Room,33,TN,Coffee & Tea,37724
...,...,...,...,...,...,...,...,...
45,East Carroll,4.5,Rolling Fork,The Onward Store,19,MS,Burgers,39159
46,East Carroll,4.5,Delhi,La Fonda Mexican Cantina and Grill,12,LA,Mexican,71232
47,East Carroll,4.0,Lake Providence,The Dock,17,LA,Cajun/Creole,71254
48,Tensas,4.5,Lorman,Old Country Store,63,MS,Soul Food,39096
49,Tensas,4.5,Vicksburg,The Tomato Place,79,MS,Juice Bars & Smoothies,39180
50,Tensas,5.0,Sicily Island,The Snack Shack,7,LA,American (Traditional),71368
51,Claiborne,4.5,Lorman,Old Country Store,63,MS,Soul Food,39096
52,Claiborne,4.0,Vicksburg,Walnut Hills,190,MS,Southern,39183
53,Claiborne,4.5,Vicksburg,The Tomato Place,79,MS,Juice Bars & Smoothies,39180
54,Holmes,4.5,Yazoo City,P-Reaux Cajun Mudbugs & Shrimp,14,MS,Cajun/Creole,39194
55,Holmes,4.5,Yazoo City,Clancy's,9,MS,Southern,39194
56,Holmes,4.0,Yazoo City,Tom's on Main,16,MS,Italian,39194
57,Humphreys,4.5,Rolling Fork,The Onward Store,19,MS,Burgers,39159
58,Humphreys,4.5,Indianola,The Blue Biscuit,15,MS,Southern,38751
59,Humphreys,4.5,Indianola,Betty's Place,12,MS,Salad,38751
60,Issaquena,4.5,Rolling Fork,The Onward Store,19,MS,Burgers,39159
61,Issaquena,4.0,Vicksburg,T'Beaux's Crawfish & Catering,28,MS,Cajun/Creole,39183
62,Issaquena,4.0,Lake Providence,The Dock,17,LA,Cajun/Creole,71254
63,Jefferson,4.5,Natchez,King's Tavern,103,MS,Bars,39120
64,Jefferson,4.5,Lorman,Old Country Store,63,MS,Soul Food,39096
65,Jefferson,5.0,Natchez,The Donut Shop,40,MS,Donuts,39120
66,Quitman,4.5,Quitman,Mimmos Ristorante Pizzeria,20,MS,Italian,39355
67,Quitman,4.0,Quitman,A & M Fried Chicken 2,5,MS,Southern,39355
68,Quitman,3.5,Quitman,Skidmores Restaurant,8,MS,Breakfast & Brunch,39355
69,Mora,5.0,Cleveland,Teresa's Tamales,11,NM,Mexican,87715
70,Mora,5.0,Mora,Hatcha's Grill,9,NM,American (New),87732
71,Mora,4.5,Mora,Rene's 50's Diner,7,NM,Cafes,87732
72,Brooks,4.5,Premont,Taqueria Guadalajara,11,TX,Mexican,78375
73,Brooks,4.0,Falfurrias,Godfather's Pizza,5,TX,Pizza,78355
74,Brooks,3.5,Premont,Oasis Restaurant,7,TX,Restaurants,78375

In [153]:
data=search(api_key,"Restaurant","Perry, Alabama")

Querying https://api.yelp.com/v3/businesses/search ...

In [154]:
data

{'businesses': [{'categories': [{'alias': 'bbq', 'title': 'Barbeque'}],
   'coordinates': {'latitude': 32.4186935424805,
    'longitude': -87.0103454589844},
   'display_phone': '(334) 874-4478',
   'distance': 31102.075598935935,
   'id': 'lannies-bar-b-q-spot-selma',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/xh_9SZja0VR0BTJrIJcrbQ/o.jpg',
   'is_closed': False,
   'location': {'address1': '2115 Minter Ave',
    'address2': '',
    'address3': '',
    'city': 'Selma',
    'country': 'US',
    'display_address': ['2115 Minter Ave', 'Selma, AL 36703'],
    'state': 'AL',
    'zip_code': '36703'},
   'name': "Lannie's Bar-B-Q Spot",
   'phone': '+13348744478',
   'price': '$',
   'rating': 4.5,
   'review_count': 34,
   'transactions': [],
   'url': 'https://www.yelp.com/biz/lannies-bar-b-q-spot-selma?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw'},
  {'categories': [{'alias': 'sandwiches', 'title': 'Sandwiches'},
    {'alias': 'pubs', 'title': 'Pubs'},
    {'alias': 'seafood', 'title': 'Seafood'}],
   'coordinates': {'latitude': 32.4065299, 'longitude': -87.01814},
   'display_phone': '(334) 872-8600',
   'distance': 31412.372136147325,
   'id': 'side-porch-sandwichs-and-pub-selma',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/ubwn0wG8WZEXoUDsDpJy7g/o.jpg',
   'is_closed': False,
   'location': {'address1': '1124 Water Ave',
    'address2': '',
    'address3': '',
    'city': 'Selma',
    'country': 'US',
    'display_address': ['1124 Water Ave', 'Selma, AL 36703'],
    'state': 'AL',
    'zip_code': '36703'},
   'name': 'Side Porch Sandwichs and Pub',
   'phone': '+13348728600',
   'price': '$',
   'rating': 4.5,
   'review_count': 11,
   'transactions': [],
   'url': 'https://www.yelp.com/biz/side-porch-sandwichs-and-pub-selma?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw'},
  {'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'},
    {'alias': 'sandwiches', 'title': 'Sandwiches'}],
   'coordinates': {'latitude': 32.41075, 'longitude': -87.0212},
   'display_phone': '',
   'distance': 30880.44629903697,
   'id': 'the-coffee-shoppe-selma',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/Nhe2SEY_RMwnkz080U-XBg/o.jpg',
   'is_closed': False,
   'location': {'address1': '308 Broad St',
    'address2': '',
    'address3': '',
    'city': 'Selma',
    'country': 'US',
    'display_address': ['308 Broad St', 'Selma, AL 36701'],
    'state': 'AL',
    'zip_code': '36701'},
   'name': 'The Coffee Shoppe',
   'phone': '',
   'price': '$',
   'rating': 4.5,
   'review_count': 11,
   'transactions': [],
   'url': 'https://www.yelp.com/biz/the-coffee-shoppe-selma?adjust_creative=-7_tzeiRkxmaXZ-G7LcLVw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-7_tzeiRkxmaXZ-G7LcLVw'}],
 'region': {'center': {'latitude': 32.590119709, 'longitude': -87.272644043}},
 'total': 62}

In [ ]:
data["businesses"][49]

In [156]:
#pull data from json
print(data["businesses"][2]["name"])
print(data["businesses"][2]["location"]["city"])
print(data["businesses"][2]["location"]["state"])
print(data["businesses"][2]["location"]["zip_code"])
print(data["businesses"][2]["price"])
print(data["businesses"][2]["review_count"])
print(data["businesses"][2]["rating"])
print(data["businesses"][2]["categories"][0]["title"])

The Coffee Shoppe
Selma
AL
36701
$
11
4.5
Coffee & Tea